{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{{path('login')}}">Iniciar sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('page', {'number':1})}}">Página 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('page', {'number':2})}}">Página 2</a>
        </li>
    </ul>
    <div class="jumbotron jumbotron-fluid">
        <div id="container">
            <h1 class="display-4">Prueba Rubén Symfony</h1>
            <p class="lead">Para comenzar pulsar en cualquiera de los items del menú</p>
        </div>
    </div>
{% endblock %}

